name: Sync Fork with Upstream

on:
  push:
    branches:
      - main

jobs:
  sync:
    if: github.repository == 'kusitms-32nd-Meet-Up-Here-And-Now/HereAndNow-FE'
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v3
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Set up Git
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"

      - name: Add Fork as Remote
        run: git remote add fork https://github.com/cywin1018/HereAndNow-FE.git

      - name: Push changes to Fork
        env:
          GITHUB_USERNAME: cywin1018
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
        run: |
          git push -f https://$GITHUB_USERNAME:$GITHUB_TOKEN@github.com/cywin1018/HereAndNow-FE.git main
